/* FORMULARIO AGREGAR MASCOTA EN ADOPCION */
input{
    background-color: #f2f2f26a;
    padding: 10px;
    border: 1px solid;
    border-radius: 12px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}
textarea{
  
    resize: none;
    width: 200px;
    height: 100px;
}

#addModalMascota{
    align-items: center;
    border-radius: 20px;
    background-color:  #4f6f52; 
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

#addDataForm{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#botonesAgregar {
    
    display:block;
    background-color: none;
}
.BotonAgregar{
    cursor: pointer;
    background-color: rgba(1, 0, 0, 0);
    padding: 10px 20px 10px ;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    color: white;
   
    transition: 
    opacity     1s,
    box-shadow .5s, /* Nombre y tiempo de la animación */
    transform .2s ease-in-out,
    font-size .2s,
    background-color .2s ease-in-out;
  
}
.BotonAgregar:hover{
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: -2px 2px 2px rgba(66, 66, 66, 0.377);
    padding: 10px 22px 10px ;
    font-size: 20px;

}
#close-btn-mascota{
    display: flex;
    padding: 10px 10px 0px ;
}
/* FIN FORMULARIO AGREGAR MASCOTA EN ADOPCION */

/* FORMULARIO AGREGAR MASCOTA PERDIDA */
#addModalMascotaPerdida{
    border-radius: 20px;
    background-color:  #4f6f52; 
    text-align: center;
    width: 800px;
    
    margin: 0 auto;
    margin-top: 100px;
  }
#addDataFormPerdido{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


/* FIN FORMULARIO AGREGAR MASCOTA PERDIDA */
/* FORMULARIO AGREGAR PASEADOR */
#addModalPaseador{
    border-radius: 20px;
    background-color:  #4f6f52; 
    text-align: center;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
}


/* FIN FORMULARIO AGREGAR PASEADOR */
