
/* Etiquetas generales */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", sans-serif;
    height: 100vh;
    background-color: #e8dfca;
    overflow: hidden; /* Eliminar la barra de dezplamiento*/
}
form{
    color: #222;
    font-weight: 700;
    padding: 1vh 0 1vh 0 ;
    text-align: center;
    font-size: 20px;
    
}
label{
    display: block;
}
input{

    background-color: #f2f2f26a;
    padding: 10px;
    border: 1px solid;
    border-radius: 12px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}
select{
    background-color: #f2f2f26a;
    height:48px;
}
input 
select,option{
    
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    border-radius: 12px;
}
input[type='submit']{
    color: #F5EFE6;
    margin-top: 2vh;
    background-color: #fffafa00;
    padding: 0;
    width: 50%;
    border: 1px solid;
    border-radius: 12px;
    cursor: pointer;
    transition: 
    
    box-shadow .5s, /* Nombre y tiempo de la animación */
    transform .2s ease-in-out,
    background-color 100ms;
}
input[type='submit']:hover{
    
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px #2222221a; /* Se le aplica los valores q deseamos alterar */
    transform: scale(1.1);
    
  }
  h1{
    font-family: "League Spartan", sans-serif;
    font-size: 70px;
}
p{
    margin-bottom: 20px;
}
a{
    display: inline;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    font-size: 20px;
    color: #c2c2c2;
    text-decoration: none;
}
/* Class & Divs */


#error{
    margin: 0 10px 0 10px;
    background-color: #03000c49;
    font-size: 15px;
    color: #8d7b77;
    font-weight: 900;
}

#contenedorForm{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #4F6F52;
    width: 60vh;
    height: 60vh;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 5vh;
    border-radius: 30px;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.267));
}
#contenedorForm h1{
    
    margin: 20px;
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin-left: 2vh;
}


.imgperro{
    position: absolute;
    pointer-events: none; /*El mouse no detecta la imagen y no molesta en los clicks*/
    top: -120px;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.534));
   
}


