/* Etiquetas Generales*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5efe6;
    font-family: "Nunito", sans-serif;
    overflow: visible;
    
}
h1{
  font-family: "League Spartan", sans-serif;
}

/*FIN NavBar*/
footer{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);  
    min-height: 100px;
    text-align: center;
    justify-content: center;
}
/*Class y Id */

.texto{
  top: 20%;
}

#mascPerdidas{
  position: relative;
  padding: 520px 20vh 2vh 20vh;
  text-align: center;
  border-top: 2px solid rgb(154, 128, 128);
  z-index: 1;
}


.title{
  font-family: "League Spartan", sans-serif;
  font-size: 70px;
  display: inline;
  text-align: center;
}
#filtro{
  position: absolute;
 left: 80%;
 padding:5px;
 font-size: 18px;
}

#tarjetas{
 margin: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.tarjeta{
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  width: 300px;
  height: 350px;
  backdrop-filter: blur(5px);
  background-color: #4f6f52; 
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.438)); 
}
.img-tarjeta{
  margin: 20px 0 20px 0;
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin deformarse */
  object-position: center;
  height:200px; 
  width: 200px;
  transition: 
  opacity     1s,
  box-shadow .5s, /* Nombre y tiempo de la animación */
  transform .2s ease-in-out;
}
.img-tarjeta:hover {
  cursor: pointer;
  opacity: 80%;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px #2222221a; /* Se le aplica los valores q deseamos alterar */
  transform: scale(1.1);
}
.adoptar {
  visibility: hidden;
  padding: 10px;
  filter: drop-shadow(8px 8px 4px black);
  position: absolute;
  text-align: start;
  bottom: 22vh;
  left: 16vh;
  color: white;
  font-weight: bold;

}   


/* Boton de volver */
#volverInicio {
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-size: 20px;
}

#volverInicio:hover {
  
  background-color: #0056b3;
}
/*FIN Boton de volver */

/* Pop-Up */
#modal {
  visibility: hidden;
  

  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 

  height: 100%; 
  
  background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
}

.modal-content {

  gap: 20px; /* Espacio entre columnas */
  background-color: #4f6f52;
  margin: 10vh auto;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  height: 420px;
  max-width: 600px;
}

#modal-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
}

#close-btn{
  font-size: 15px;
  margin: 0;
  cursor: pointer;
}
.contenedor-1 {
  grid-row: 1/4;
  grid-column: 1/2;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);  
  background-position: center;
  border-radius: 20px;
  width: 200px;
  height: 310px;
  text-align: center;
  justify-content:center;
  align-content:center;
}


.contenedor-2 {
  text-align: center;
  
  grid-row: 1/2;
  grid-column: 2/3;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);  
  border-radius: 20px;
  width: 150px;
  height: 80px;
  justify-self: center; /* Alinea horizontalmente al centro */
  align-content:center;
}

.contenedor-3 {
  text-align: center;
  grid-row: 1/2;
  grid-column: 3/4;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);  
  border-radius: 20px;
  width: 150px;
  height: 80px;
  justify-self: center; /* Alinea horizontalmente al centro */

  align-content:center;
}

.contenedor-4 {
  text-align: center;
  margin-top: -15px;
  grid-row: 2/4;
  grid-column: 2/4;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);  
  border-radius: 20px;
  width: 349px;
  height: 80px;
  justify-self: center; /* Alinea horizontalmente al centro */
  align-content:center;
}
.contenedor-4 span{
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.contenedor-5 {
  grid-row: 3/4;
  grid-column: 2/3;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  margin-top: -30px;
  width: 160px;
  margin-right: -40px;
  justify-self: center; /* Alinea horizontalmente al centro */
}
.contenedor-6 {
  margin-top: -30px;
  margin-left: -40px;
  grid-row: 3/4;
  grid-column: 3/4;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-bottom: 2px white solid;
  width: 160px;
  justify-self: center; /* Alinea horizontalmente al centro */
}
.titulo{
 
  color: white;
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 0;
}
.contenido-p{

  font-size: 25px;
  margin-top: 5px;
}
#boton-contactar{
  color: white;
  border: solid;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0);
  padding: 10px;
  margin: 10px;
  grid-column: 2/3;
  transition: 
  opacity     1s,
  box-shadow .5s, /* Nombre y tiempo de la animación */
  transform .2s ease-in-out,
  font-size .2s;
}
#boton-contactar:hover {
  cursor: pointer;
  opacity: 80%;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px #2222221a; /* Se le aplica los valores q deseamos alterar */
  transform: scale(1.1);
  font-size: 18px;
}
